/*design général site*/
#global {margin: 0 auto;width: 1000px; border:0; padding:0;}
body { background: beige; color: black; }
a:link {color: navy;}
a:hover {color:red}
a:visited {color: #506020}
a:active {color: #00bfff}
#misenpage {height:580px;font-family:sans-serif;border:0px solid black;}
#conteneur {width:1000px;font-family:sans-serif;border:0px solid black;}
#wrap { height:500px; border:0px solid black;}
#sidebar {width:200px; position:absolute; border:0px solid black;}/*position:absolute; */
#contenu {margin-left:216px;width:780px; text-align:center; height:488px; overflow-y:scroll;border:0px solid black;clear:both}/*position:fixed; position:absolute;*/
/*#footer {position:absolute;}*/
//#menu_chinois {position:absolute;z-index:1}

#pave { margin:50px;padding:50px}


/*

img { display:inline;border:0px; }

td { border: 0px solid DarkKhaki; background-color: beige; vertical-align:top; }
table.forum { background-color: beige); border: 0px solid black; }
th { background-color: DarkKhaki; border: 1px solid black; }
*/
caption {caption-side: bottom;}

